@import '../../styles.scss';

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.filter {
  padding-top: 15px;
}

.profile-send {
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
